{
    "extends": [
        "emakinacee-base"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "no-console": "off",
        "import/newline-after-import": "off",
        "import/no-nodejs-modules": "off"
    }
}
