@import "../essentials";

.grid {
    display: grid;
    grid-gap: rem(20);
}

.grid.-inline {
    display: inline-grid;
}

.grid.-columns2 {
    grid-template-columns: 1fr 1fr;
}

.grid.-columns4medium {

    @include mq($from: "medium") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
